<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Update category</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Name: </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Category's name"
                  [(ngModel)]="data.title"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button
                type="submit"
                class="btn btn-primary btn-round"
                (click)="update()"
              >
                Confirm
              </button>
              <button
              type="submit"
              class="btn btn-secondary btn-round"
              [routerLink]="[ '/category']"
            >
              Cancel
            </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
