<form class="signin" style=" text-align: center !important;">
  <img
    class="mb-4"
    src="assets/img/angular.png"
    alt=""
    width="72"
    height="72"
  />
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input
    type="text"
    id="inputUsername"
    class="form-control"
    placeholder="Username"
    [(ngModel)]="data.username"
    name="username"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    [(ngModel)]="data.password"
    name="password"
    required
  />
  <button class="btn btn-lg btn-primary btn-block" (click)="submitForm()">
    Sign in
  </button>
</form>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
