<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Category </h4>
        <button type="button" class="btn btn-primary" (click) = "toCreatePage()"><i class="fa fa-plus" aria-hidden="true"></i>
          Add new Category</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th class="text-center">
                Product Quantity
              </th>
              <th class = 'text-center'>
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>
                  {{ category.name }}
                </td>
                <td class = 'text-center'>
                  {{ category.productQuantity }}
                </td>
                <td class="text-center">
                  <button class="btn btn-outline-primary btn-round btn-sm mr-1">
                    <i class="fa fa-pencil-square-o"></i> Edit
                  </button>
                  <button class="btn btn-outline-primary btn-round btn-sm">
                    <i class="fa fa-trash-o"></i> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
