<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Categories Table</h4>
        <button type="button" class="btn btn-primary" (click)="toCreatePage()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add new Category
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Title
              </th>
              <th class="text-center">
                Product Quantity
              </th>
              <th class="text-center">
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>
                  {{ category.title }}
                </td>
                <td class="text-center"></td>
                <td class="text-center">
                  <button
                    class="btn btn-outline-primary btn-round btn-sm mr-1"
                    [routerLink]="['/category/edit', category.categoryUID]"
                  >
                    <i class="fa fa-pencil-square-o"></i> Edit
                  </button>
                  <button
                    class="btn btn-outline-primary btn-round btn-sm"
                    id="{{ category.id }}"
                    (click)="deleteCategory(category.categoryUID)"
                  >
                    <i class="fa fa-trash-o"></i> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
