<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Add New Product</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Title: </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Product's title"
                  [(ngModel)]="data.title"
                  name="title"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Subtitle: </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Product's subtitle"
                  [(ngModel)]="data.subTitle"
                  name="subTitle"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Description: </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Product's description"
                  [(ngModel)]="data.content"
                  name="content"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Cost price: </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Product's cost price"
                  [(ngModel)]="data.unitCost"
                  name="unitCost"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Price: </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Product's price"
                  [(ngModel)]="data.unitPrice"
                  name="unitPrice"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Gender: </label>
                <select
                  class="form-control"
                  [(ngModel)]="data.gender"
                  name="gender"
                >
                  <option selected>Choose...</option>
                  <option value="2">Female</option>
                  <option value="1">Male</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Category: </label>
                <select
                  class="form-control"
                  [(ngModel)]="data.categoryUID"
                  name="categoryUID"
                >
                  <option selected>Choose...</option>
                  <option
                    value="{{ category.categoryUID }}"
                    *ngFor="let category of categories"
                    >{{ category.title }}</option
                  >
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Image: </label>
              <div class="custom-file ">
                <input
                  type="file"
                  class="custom-file-input"
                  name="imageUrl"
                  (change)="handleFileInput($event.target.files)"
                />
                <label class="custom-file-label" for="inputGroupFile01"
                  >Choose file</label
                >
              </div>
              <div class="image-preview mb-3" *ngIf="previewUrl">
                <img [src]="previewUrl" height="300" />
              </div>
              <div class="mb-3" *ngIf="uploadedFilePath">
                {{ uploadedFilePath }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto form-group">
              <button
                class="btn btn-primary btn-round"
                (click)="createProduct()"
              >
                Confirm
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
